{% extends 'habitat_pwa/base.html' %}
{% block content %}
{% load static %}

<div class="class-card-body">
    {% if class_list %}
        <ul class="class-list">
            {% for class in class_list %}
            <li class="class-card">
                <p class="class-card-title"> {{ class.training_class }} </p>
                <p class="class-card-title"> {{ class.start_time|date:"H:i" }} ({{ class.time_span }} Minutes) </p>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}
